build/
.DS_Store
.vscode/
__pycache__/
*.egg-info/
dist/
.pytest_cache/
aargrad/_core*.so
.venv/

python/shakespeare/data/input.txt
python/shakespeare/data/*.bin
python/shakespeare/data/meta.json
python/shakespeare/data/ckpt_*
